

.edit-element {
    visibility: hidden;
}

table.category-item {
    height: 48px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 0px;
    border-bottom: 1px solid $color-border;
    font-size: 17px;
    width: 182px;
    @include no-select();
}

table.category-item tr td {
    color: var(--ra-color-text);
}

table.category-item-selectable {
    cursor: pointer;
    background-color: transparent;
}

table.category-item-selectable:hover {
    background-color: $color-header;
}

table.category-item-selected {
    background-color: $active-color;
}

table.category-item-selected tr td {
    color: white;
}

.group-item {
    color: $active-color;
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

.group-item-name {
    padding-right: 10px;
    @include no-select();
}

.group-container {
    margin-bottom: 5px;
}

.site-item {
    padding-right: 12px;
    padding-bottom: 12px;
    display: inline-block;
}

.site-thumbnail {
    width: 235px;
    height: 149px;
    border: 1px solid $color-background;
    cursor: pointer;
    opacity: 0.5;
}

.site-thumbnail:hover {
    border: 1px solid $active-color;
    opacity: 1;
}

.site-edit-button {
    position: relative;
    left: -125px;
    top: 0px;
    margin-top: 0px;
    margin-left: -$button-width;
    width: $button-width;
}

.site-delete-button {
    position: relative;
    left: -70px;
    top: 0px;
    margin-top: 0px;
    margin-left: -$button-width;
    width: $button-width;
}

@media (max-width: 600px) {

    .site-thumbnail {
        width: 150px;
        height: 95px;
    }

    .site-edit-button {
        left: -81px;
    }

    .site-delete-button {
        left: -26px;
    }
}