.layout-header {
    min-height: 50px;
    background-color: $color-header;;
    border-bottom: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
}

.layout-sidebar {
    min-width: 182px;
    background-color: $color-background;
}

.layout-body {
    background-color: $color-background;
}

#groups-panel {
    width: 100%;
    height: 100%;
    padding-left: 18px;
    padding-top: 8px;
}