:root {
  --ra-font-family: "Open Sans";
  --ra-font-size: 14.75px;
  --ra-color-page-background: white;
  --ra-color-text: #636263;
  --ra-color-content-border: #DDDDDD;
  --ra-color-datagrid-border: #E1E1E1;
  --ra-color-datagrid-heading: #F3F2F3;
  --ra-color-datagrid-row: #FBFAFB;
  --ra-color-datagrid-row-selected: #BDD6EB;
  --ra-color-tabs-header-background: #FBFAFB;
  --ra-color-dialog-background: #F6F6F6;
  --ra-color-actor-selectable: #007bff;
  --ra-color-actor-hover: #0069d9;
  --ra-color-actor-hover-border: #0062cc;
  --ra-color-actor-disabled: #0062cc;
  --ra-color-actor-disabled-border: #005cbf; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

.layout-header {
  min-height: 50px;
  background-color: white;
  border-bottom: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1; }

.layout-sidebar {
  min-width: 182px;
  background-color: #F6F6F6;
  overflow: visible; }

.layout-body {
  background-color: #F6F6F6; }

#groups-panel {
  width: 100%;
  height: 100%;
  padding-left: 18px;
  padding-top: 8px; }

.edit-element {
  visibility: hidden; }

.category-item {
  height: 48px;
  margin: 0px;
  padding-left: 15px;
  padding-right: 0px;
  border-bottom: 1px solid #DDDDDD;
  font-size: 17px;
  color: black;
  width: 182px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.category-item-selectable {
  cursor: pointer;
  background-color: transparent; }

.category-item-selectable:hover {
  background-color: #EDEDED; }

.category-item-selected {
  background-color: #FF6600; }

.group-item {
  color: #FF6600;
  font-size: 17px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px; }

.group-item-name {
  padding-right: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.group-container {
  margin-bottom: 5px; }

.site-item {
  padding-right: 12px;
  padding-bottom: 12px;
  display: inline-block; }

.site-thumbnail {
  width: 235px;
  height: 149px;
  border: 1px solid #DDDDDD;
  cursor: pointer; }

.site-thumbnail:hover {
  border: 1px solid #FF6600; }

.site-edit-button {
  position: relative;
  left: -125px;
  top: 0px;
  margin-top: 0px;
  margin-left: -45px;
  width: 45px; }

.site-delete-button {
  position: relative;
  left: -70px;
  top: 0px;
  margin-top: 0px;
  margin-left: -45px;
  width: 45px; }

@media (max-width: 600px) {
  .site-thumbnail {
    width: 150px;
    height: 95px; }
  .site-edit-button {
    left: -81px; }
  .site-delete-button {
    left: -26px; } }
