@model WebApp.Models.Home.IndexModel

@using (Html.RABeginContainer(ContainerScrolling.Y))
{
    <div id="groups-panel">

    </div>
}

<script>

    var _web;
    var _panel;
    var _webKey;
    var _editMode = false;
    

    function loadWeb() {

        $.get({
            url: "/Home/GetWeb?webKey=" + _webKey,
            cache: false,
            success: function (response) {
                _web = response;
                renderWeb();
            },
            error: function (xhr) {
                if (xhr.responseText)
                    renderSpecifyWebKey(xhr.responseText);
                else
                    renderSpecifyWebKey("<strong class='ra-color-error'>ERROR:</strong> Web not retrieved");
            }
        });
    }

    function updateWeb() {

        $.get({
            url: "/Home/GetWeb?webKey=" + _webKey,
            cache: false,
            success: function (response) {
                _web = response;
            }
        });
    }

    function renderWeb() {

        renderSidebar();

        if (_web.categories.length > 0)
            renderCategory(0);
        else
            renderNoCategories();
    }

    function renderSidebar() {

        var html = "";

        for (var i = 0; i < _web.categories.length; i++) {

            var category = _web.categories[i];
            html += "<div class='category-item category" + i + "' ";
            html += "onclick='renderCategory(" + i + ");'>";
            html += "<span>" + category.value + "</span>"
            //html += "<span class='category-buttons'> ";
            //html += "<button class='btn btn-success edit-element group-action-button'><i class='fas fa-plus'></i></button>"
            //html += "<button class='btn btn-primary edit-element group-action-button'><i class='far fa-edit fa'></i></button>"
            //html += "<button class='btn btn-danger edit-element group-action-button'><i class='far fa-trash-alt fa'></i></button>"
            html += "</span></div>";
        }

        $(".ra-layout-sidebar").html(html);
    }

    function renderCategory(index) {

        $(".category-item")
            .removeClass("category-item-selected")
            .addClass("category-item-selectable");

        $(".category" + index)
            .removeClass("category-item-selectable")
            .addClass("category-item-selected");

        var html = "";
        var category = _web.categories[index];

        for (var i = 0; i < category.groups.length; i++) {

            var group = category.groups[i];
            html += "<div id='" + group.id + "'><div class='group-item'>"
            html += "<span>" + group.value + "</span>";
            html += "<button class='btn btn-secondary ra-btn-add edit-element group-action-button' onclick='addSite(event, \"" +
                group.id + "\");'><i class='fas fa-plus'></i></button>";
            html += "<button class='btn btn-secondary ra-btn-edit edit-element group-action-button' onclick='editGroup(event, \"" +
                group.id + "\");'><i class='far fa-edit fa'></i></button>"
            html += "<button class='btn btn-secondary ra-btn-delete edit-element group-action-button' onclick='deleteGroup(event, \"" +
                group.id + "\");'><i class='far fa-trash-alt fa'></i></button>"
            html += "</div><div class='group-container'>";

            for (var j = 0; j < group.sites.length; j++) {

                var site = group.sites[j];
                html += "<span id='" + site.id + "' class='site-item' ";
                html += "onclick='newWindowTo(\"" + site.value + "\");'>";
                html += "<img class='site-thumbnail' src='" + site.thumbnailCachedUrl + "' />";
                html += "<button class='btn btn-secondary ra-btn-edit edit-element site-edit-button' onclick='editSite(event, \"" +
                    site.id + "\");'><i class='far fa-edit fa fa-lg'></i></button>"
                html += "<button class='btn btn-secondary ra-btn-delete edit-element site-delete-button' onclick='deleteSite(event, \"" +
                    site.id + "\");'><i class='far fa-trash-alt fa fa-lg'></i></button>"
                html += "</span>";
            }

            html += "</div></div>";
        }

        _panel.html(html);
        updateEditControls();
        raHideSidebar();
    }

    function renderNoCategories() {

        _panel.html("No categories have been specified");
    }

    function renderSpecifyWebKey(message) {

        _panel.html(message);
    }

    function updateEditControls() {

        if (_editMode)
            $(".edit-element").visible();
        else
            $(".edit-element").invisible();
    }

    function toggleEditMode(source) {

        _editMode = !_editMode;
        updateEditControls();
        $(source).button("toggle");
    }

    function addCategory(event) {

        event.stopPropagation();

    }

    function editCategory(event, categoryId) {

        event.stopPropagation();

    }

    function deleteCategory(event, categoryId) {

        event.stopPropagation();

        raShowModalDialog(
            "/Home/_DialogDeleteCategory?webKey=" + _webKey + "&categoryId=" + categoryId,
            "completeDeleteCategory('" + categoryId + "', response);",
            "Confirm Category Delete",
            true,
            "Yes",
            true,
            "No",
            "small");
    }

    function completeDeleteCategory(categoryId, web) {

        location.reload();
    }

    function addGroup(event, categoryId) {

        event.stopPropagation();

    }

    function editGroup(event, groupId) {

        event.stopPropagation();

    }

    function deleteGroup(event, groupId) {

        event.stopPropagation();

        raShowModalDialog(
            "/Home/_DialogDeleteGroup?webKey=" + _webKey + "&groupId=" + groupId,
            "completeDeleteGroup('" + groupId + "', response);",
            "Confirm Group Delete",
            true,
            "Yes",
            true,
            "No",
            "small");
    }

    function completeDeleteGroup(groupId, web) {

        _web = web;
        $("#" + groupId).remove();
    }

    function addSite(event, groupId) {

        event.stopPropagation();

    }

    function editSite(event, siteId) {

        event.stopPropagation();

    }

    function deleteSite(event, siteId) {

        event.stopPropagation();

        raShowModalDialog(
            "/Home/_DialogDeleteSite?webKey=" + _webKey + "&siteId=" + siteId,
            "completeDeleteSite('" + siteId + "', response);",
            "Confirm Site Delete",
            true,
            "Yes",
            true,
            "No",
            "small");
    }

    function completeDeleteSite(siteId, web) {

        _web = web;
        $("#" + siteId).remove();
    }

    $(document).ready(function () {

        _panel = $("#groups-panel");
        _webKey = "sampleweb"
        raShowLoading(_panel);

        if (_webKey)
            loadWeb();
        else
            renderSpecifyWebKey();
    });

</script>