<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="MyWeb" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <title>MyWeb</title>
    @await Html.RAInfrastructureStylesheetsAsync()
    @await Html.RAInfrastructureScriptsAsync()
    @RenderSection("Scripts", required: false)


</head>
<body>

    <div class="ra-container ra-container-vertical">

        <div class="layout-header">
            
            <table style="width: 100%; padding: 5px; padding-top: 6px;">
                <tr>
                    <td class="ra-layout-sidebar-toggle-button" style="height: 38px; width: 56px; vertical-align: middle; text-align: left;">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                onclick="raToggleSidebar('.ra-layout-sidebar');">
                            <i class="fas fa-bars" style="font-size: 1.1em;"></i>
                        </button>
                    </td>
                    <td style="text-align: left; height: 38px;">
                        <button type="button"
                                class="btn btn-secondary ra-btn-add edit-element"
                                onclick="beginAddCategory(event);">
                            <i class="fas fa-plus fa" style="font-size: 1.1em;"></i>
                        </button>
                    </td>
                    <td style="text-align: right; height: 38px;">
                        <button type="button"
                                class="btn btn-secondary edit-element ra-margin-right-xs"
                                style="width: 40px; padding-left: 8px;"
                                onclick="beginSetWeb(event);">
                            <i class="fas fa-cogs" style="font-size: 1.1em;"></i>
                        </button>
                        <button id="editButton"
                                type="button"
                                class="btn btn-outline-secondary"
                                style="width: 40px; padding-left: 8px;"
                                onclick="toggleEditMode();">
                            <i class="far fa-edit fa-lg"></i>
                        </button>
                    </td>
                </tr>
            </table>

        </div>

        <div class="ra-container ra-container-horizontal">

            <div class="ra-layout-sidebar layout-sidebar">

            </div>

            <div class="ra-container layout-body" onmousedown="raHideSidebar('.ra-layout-sidebar');">
                @RenderBody()
            </div>

        </div>

    </div>

    @await Html.RAInfrastructurePageComponentsAsync()

    <script>

        

    </script>

</body>
</html>